.heroImage {
  margin: 0 0 40px 0;
  padding: 0;
  background-image: url(../images/hero.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  height: calc(100vh - 80px);
  width: 100%;
}
.herotextContainer {
  margin: 0;
  padding: 0;
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  align-items: center;
}
.heroText {
  display: block;
  margin: auto;
  margin-top: 110px;
  cursor: default;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.mainHeroText {
  margin: 0;
  padding: 0;
  font-size: 120px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}
.subHeroText {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}
@media screen and (max-width: 700px) {
  .heroImage {
    height: calc(100vh - 60px);
  }
  .herotextContainer {
    height: calc(100vh - 60px);
  }
  .mainHeroText {
    font-size: 13vw;
  }
  .subHeroText {
    font-size: 9vw;
  }
}
p {
  margin: 0 auto;
  padding: 3vh 0 6vh 0;
  width: 80vw;
  text-indent: 5vw;
}
.facebook {
}
.facebook iframe {
  display: block;
  margin: 20px auto;
}
