.heroImage {
  margin: 0;
  padding: 0;
  background-image: url(../images/hero.jpeg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 75px);
  min-height: 500px;
  width: 100%;
}
.herotextContainer {
  margin: 0;
  padding: 0;
  height: calc(100vh - 75px);
  min-height: 500px;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  align-items: center;
}
.heroText {
  display: block;
  margin: auto;
  margin-top: 90px;
  cursor: default;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.mainHeroText {
  margin: 0;
  padding: 0;
  font-size: 120px;
}
.subHeroText {
  margin: 0;
  padding: 0;
  font-size: 70px;
}
@media screen and (max-width: 700px) {
  .mainHeroText {
    font-size: 13vw;
  }
  .subHeroText {
    font-size: 9vw;
  }
}
.welcome {
  margin-top: 30px;
  color: 3000;
  font-weight: 300;
}
.welcome h1 {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 10vw;
}
.welcome p {
  text-indent: 5vw;
  padding: 0 2vw;
  font-size: 5vw;
  color: #000;
}
.welcome p a {
  color: #ce1126;
  text-decoration: none;
}
.welcome p a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 790px) {
  .welcome h1 {
    font-size: 63px;
  }
  .welcome p {
    padding: 0 12vw;
    font-size: 27px;
  }
}
.join {
  display: block;
  margin: 50px auto;
  height: 75px;
  width: 30vw;
  max-width: 250px;
  border: 5px solid #ce1126;
  border-radius: 20px;
  font-size: 40px;
  color: #ce1126;
  font-weight: 800;
  line-height: 75px;
  text-align: center;
  text-decoration: none;
}
.join div {
  display: block;
  margin: auto;
}
