html {
  height: 100vh;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  margin: 0;
  padding: 10px;
  color: #ce1126;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
}
h2 {
  margin: 0;
  padding: 0;
  color: #ce1126;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 500;
  font-size: 70px;
}
h3 {
  margin: 0;
  padding: 0;
  color: #ce1126;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
p {
  display: block;
  margin: 20px auto;
  width: 80vw;
  text-indent: 5vw;
  color: #000;
  font-weight: 300;
  font-size: 22px;
}
p a {
  color: #ce1126;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  p {
    font-size: 3.5vw;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #003b7a;
  align-items: center;
  border-bottom: 1px solid black;
}
#desktop {
  grid-template-columns: 1fr 2fr;
  height: 80px;
  display: none;
}
#mobile {
  grid-template-columns: 1fr 3fr 1fr;
  height: 60px;
  display: grid;
}
@media screen and (min-width: 700px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: grid;
  }
}
.mobileMenuIcon {
  margin-left: 20px;
  cursor: pointer;
}
.mobileMenuIcon img {
  height: 25px;
}
.mobileLogoContainer {
  text-align: center;
}
.mobileLogoContainer a img {
  padding-top: 2.5px;
  height: 55px;
}
#mobileMenuContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
  transform: translateX(-150vw);
  transition: transform 0.4s;
}
@media screen and (min-width: 700px) {
  #mobileMenuContainer {
    display: none;
  }
}
.mobileMenuTop {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}
.mobileMenuTitle {
  margin: 0px;
  padding: 25px 0 0 0;
  height: 50px;
  color: #ce1126;
  font-size: 11vh;
  font-weight: 200;
  text-align: center;
}
.mobileMenuRight {
  text-align: right;
}
.mobileMenuRight a img {
  margin-top: 7px;
  margin-right: 7px;
  height: 34px;
  cursor: pointer;
}
.mobileMenuLinks {
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.mobileMenuLinks li a {
  padding: 3.5vh;
  display: block;
  color: black;
  font-size: 5vh;
  text-decoration: none;
}
.desktopHeaderLogoContainer {
  margin-left: 45px;
}
.desktopHeaderLogoContainer img {
  padding-top: 5px;
  height: 70px;
}
.desktopHeaderRight {
  margin-right: 30px;
  text-align: right;
}
.desktopHeaderRight a {
  margin: 0 4px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}
.desktopHeaderRight a:hover {
  transition: 0.2s;
  color: #cfcfcf;
}
@media screen and (min-width: 900px) {
  .desktopHeaderRight a {
    font-size: 21px;
    margin: 0 11px;
  }
}
.contentContainer {
  margin-top: 80px;
  min-height: 700px;
}
@media screen and (max-width: 700px) {
  .contentContainer {
    margin-top: 60px;
  }
}
footer {
  display: grid;
}
footer img {
  margin: 0;
  padding: 0;
  width: 100vw;
  bottom: 0;
}
.footerBottom {
  background-color: #003b7a;
}
.footerBottom div {
  display: flex;
}
.footerBottom div ul {
  margin-right: 30px;
  list-style: none;
  width: fit-content;
  color: white;
  fill: white;
}
.footerBottom div ul li {
  cursor: default;
}
.footerBottom div ul li h2 {
  text-align: left;
  padding: 0 0 7px 0;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
.footerBottom div ul li a {
  color: inherit;
  text-decoration: none;
}
.footerBottom div ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 785px) {
  .footerBottom div {
    margin: 0 0 120px 3vw;
    flex-direction: column;
  }
  .footerBottom div ul {
    margin: 0;
    padding: 0;
  }
  .footerBottom div ul li h2 {
    font-size: 6vw;
    margin: 20px 0 5px 0;
  }
  .footerBottom div ul li {
    font-size: 3.5vw;
    line-height: 32px;
  }
}
@media screen and (min-width: 785px) {
  .footerBottom div {
    margin-bottom: 50px;
    flex-direction: row;
  }
  .footerBottom div ul {
    margin-left: 3vw;
    padding: 0;
  }
  .footerBottom div ul li h2 {
    font-size: 28px;
    margin: 5px 0;
  }
  .footerBottom div ul li {
    font-size: 18px;
    line-height: 28px;
  }
}
