html {
  height: 100vh;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.contentContainer h1 {
  cursor: default;
  margin: 0;
  padding: 5vh;
  color: #ce1126;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 600;
  font-size: 100px;
  letter-spacing: 3px;
}
.contentContainer h2 {
  cursor: default;
  margin: 0;
  padding: 0;
  color: #ce1126;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.5px;
}
.contentContainer h3 {
  cursor: default;
  margin: 0;
  padding: 0;
  color: #ce1126;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 0.5px;
}
.contentContainer p {
  color: #000;
  font-weight: 300;
  font-size: 20px;
}
.contentContainer p a {
  color: #ce1126;
  text-decoration: none;
}
.contentContainer p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  .contentContainer h1 {
    font-size: 11vw;
  }
  .contentContainer h2 {
    font-size: 8vw;
  }
  .contentContainer h3 {
    font-size: 6vw;
  }
  .contentContainer p {
    font-size: 3.5vw;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #172b1d;
  align-items: center;
}
#desktop {
  grid-template-columns: 1fr 2fr;
  display: none;
}
#mobile {
  grid-template-columns: 1fr 3fr 1fr;
  display: grid;
}
@media screen and (min-width: 800px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: grid;
  }
}
.mobileMenuIcon {
  margin-left: 20px;
  cursor: pointer;
}
.mobileMenuIcon img {
  height: 25px;
}
.mobileLogoContainer {
  text-align: center;
}
.mobileLogoContainer a img {
  padding-top: 2.5px;
  height: 55px;
}
#mobileMenuContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
  transform: translateX(-150vw);
  transition: transform 0.4s;
}
@media screen and (min-width: 800px) {
  #mobileMenuContainer {
    display: none;
  }
}
.mobileMenuTop {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}
.mobileMenuTitle {
  margin: 0px;
  padding: 25px 0 0 0;
  height: 50px;
  color: #000;
  font-size: 9vh;
  font-weight: 200;
  text-align: center;
}
.mobileMenuRight {
  text-align: right;
}
.mobileMenuRight a img {
  margin-top: 7px;
  margin-right: 7px;
  height: 34px;
  cursor: pointer;
}
.mobileMenuLinks {
  margin: 5.5vh 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.mobileMenuLinks li a {
  padding: 3.5vh;
  display: block;
  color: black;
  font-size: 3.5vh;
  text-decoration: none;
}
.desktopHeaderLogoContainer {
  margin-left: 45px;
}
.desktopHeaderLogoContainer img {
  padding-top: 5px;
  height: 60px;
}
.desktopHeaderRight {
  margin-right: 30px;
  text-align: right;
}
.desktopHeaderRight a {
  margin: 0 4px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}
.desktopHeaderRight a:hover {
  transition: 0.2s;
  color: #cfcfcf;
}
@media screen and (min-width: 900px) {
  .desktopHeaderRight a {
    font-size: 21px;
    margin: 0 11px;
  }
}
.contentContainer {
  margin-top: 70px;
  min-height: 700px;
}
@media screen and (max-width: 800px) {
  .contentContainer {
    margin-top: 60px;
  }
}
footer {
  display: grid;
}
footer img {
  margin: 0;
  padding: 0;
  width: 100vw;
  bottom: 0;
}
.footerBottom {
  background-color: #172b1d;
}
.footerContentContainer {
  padding: 2vh 0 6vh 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
}
.footerContentContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footerBottom .footerContentContainer ul li {
  padding-left: 3vw;
  color: #fff;
  cursor: default;
}
.footerBottom .footerContentContainer ul li:first-of-type {
  padding-right: 7vw;
}
.footerContentContainer ul h2 {
  font-size: 30px;
  color: inherit;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.footerContentContainer ul li a {
  font-size: 17px;
  color: inherit;
  line-height: 35px;
  text-decoration: none;
}
.footerContentContainer ul li span {
  font-size: 17px;
  color: inherit;
  line-height: 35px;
}
.socialMediaContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.socialMediaContainer a {
  margin-right: 5vw;
}
.socialMediaContainer a img {
  width: 15vw;
  max-width: 70px;
}
@media screen and (max-width: 800px) {
  .footerContentContainer {
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .footerContentContainer ul {
    padding-bottom: 3vh;
  }
  .footerContentContainer ul li h2 {
    font-size: 5vw;
    line-height: 7vw;
  }
  .footerContentContainer ul li a {
    font-size: 3vw;
    line-height: 5vw;
  }
  .footerContentContainer ul li span {
    font-size: 3vw;
    line-height: 5vw;
  }
  .socialMediaContainer {
    flex-direction: row;
  }
  .socialMediaContainer a {
    margin: 0 0 0 3vw;
  }
  .socialMediaContainer a img {
    max-width: 50px;
  }
}
